.markdown {
  h1 {
    font-size: 32px;
    font-weight: bold;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
  }

  code {
    background-color: rgb(0,0,0,0.5);
    border-radius: 4px;
    padding: 2px;
  }

  ul {
    margin: 0 0 0 10px;
    li {
      list-style: square;
      list-style-position: inside;
    }
  }
}
